@import "../kube/src/_scss/variables";
@import "../kube/src/_scss/mixins";
@import "../kube/src/_scss/components";

$default-container-width: 1180px;

.container {
	max-width: $default-container-width;
	margin: 0px auto;

	body > &:first-child {
		margin-top: 40px;
	}
}

.p-a-20 {
	padding: 20px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-40 {
	margin-bottom: 40px;
}

.m-b-60 {
	margin-bottom: 60px;
}

/* additional buttons */
.button {
	&.error {
    	@include button(#fff, $color-error);
    }
    &.active {
    	@include button(#fff, $color-focus);
    }
    &.success {
    	@include button(#fff, $color-success);
    }
    &.warning {
    	@include button(#fff, $color-warning);
    }
    &.black {
    	@include button(#fff, $color-button-black);
    }
}

/* end additional buttons */

/* forms */

input {
	&.round {
		border-radius: 50px;
	}
}

.prepend {
	& > span {
		background-color: transparent;
	}
	&.icon {
		input {
			border-left: 0px;
		}
	}
}

.append {
	& > span {
		background-color: transparent;
	}
	&.icon {
		input {
			border-right: 0px;
		}
	}
}

/* end forms */


/* navbars */

.nav {
	display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 24px;
    border-radius: $nav-border-radius;

    padding-left: 20px;
    padding-right: 20px;

    /* left - center -right */
    &.l-c-r {
    	justify-content: space-between;
    }

    /* left - left - right */
    &.l-l-r {
    	nav {
    		flex: 1 1 auto;
    	}
    }

    /* left - center - center */
    &.l-r-r {
    	nav {
    		flex: 1 1 auto;
    		display: flex;
    		justify-content: flex-end;

    	}
    }

    /* center - center - center */
    &.c-c-c {
    	justify-content: center;
    }

    .navbar-brand {
    	display: inline-block;
    	margin-right: 25px;

    	a {
    		display: flex;
    		align-items: center;

    		img {
    			max-height: 40px;
    		}
    	}
    }

    nav {
    	& > a {
    		color: $color-navbar-light-text;
    		text-decoration: none;
    		display: inline-block;
    		margin: 0px 10px;

    		&:hover {
    			text-decoration: underline;
    		}
    	}
    }

    & .buttons {
    	button:first-child, .button:first-child {
    		margin-left: 10px;
    	}
    }

    &.outline {
    	border-width: $nav-border-width;
    	border-style: solid;
    	&.black {
    		border-color: $color-black;
    	}
    	&.darkgray {
    		border-color: $color-darkgray;
    	}
    	&.midgray {
    		border-color: $color-midgray;
    	}
    	&.gray {
    		border-color: $color-gray;
    	}
    	&.lightgray {
    		border-color: $color-lightgray;
    	}
    	&.silver {
    		border-color: $color-silver;
    	}
    	&.aluminum {
    		border-color: $color-aluminum;
    	}
    }

    &.light {
    	background-color: $color-navbar-light;

    	nav {
    		& > a {
    			color: $color-navbar-light-text;
    		}
    	}
    }

    &.dark {
    	background-color: $color-navbar-dark;

    	nav {
    		& > a {
    			color: $color-navbar-dark-text;
    		}
    	}
    }
}

/* end navbars */

.bg-secondary {
	background-color: $color-black;
}